SECRET_KEY=your-secret-key-here
DEBUG=False

ALLOWED_HOSTS=127.0.0.1,localhost
RENDER_EXTERNAL_HOSTNAME=

DATABASE_URL=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_WEBHOOK_URL=https://your-service.onrender.com/telegram/webhook/

PAYMENT_KEY_ID=
PAYMENT_KEY_SECRET=

DJANGO_ADMIN_USERNAME=admin
DJANGO_ADMIN_EMAIL=admin@example.com
DJANGO_ADMIN_PASSWORD=change-this-password
