# .gitignore

.venv/
.env

db.sqlite3

media/
staticfiles/

__pycache__/
*.py[cod]

.vscode/
.idea/

# Baileys WhatsApp session credentials
whatsapp_bot/auth_info/
whatsapp_bot/.wwebjs_auth/
whatsapp_bot/.wwebjs_cache/
whatsapp_bot/node_modules/
